.Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Content > img {
    background-color: black;
    border: solid white 5px;
    color: white;
    margin: 0px 0px 0px 0px;
}